@charset 'utf-8';

html,body {
	height: 100%;
}

body {
	display: flex;
}

main {
	margin: auto;
	flex-direction: column;
	display: flex;
	align-items: center;
}

#text-container {
	margin-top: 3px;
	min-height: 200px;
}

.text {
	display: inline-block;
	padding: 8px;
	margin: 8px;
	background-color: red;
	color: white;
}

.text.marked {
	box-shadow: 0px 0px 15px 5px yellow;
}

#remove-left {
	margin-left: 40px;
}
